
MyFitnes/.DS_Store
.DS_Store
MyFitnes.xcodeproj/xcuserdata/umc_kya.xcuserdatad/xcschemes/xcschememanagement.plist
MyFitnes.xcworkspace/xcuserdata/umc_kya.xcuserdatad/UserInterfaceState.xcuserstate
Pods
Podfile.lock